.modal__radio-text {
  font-weight: 400;
  opacity: 0.5;
}

.modal__radio-label {
  display: flex;
  align-items: center;
  gap: 12px;
}
.modal__radio-input:checked + .modal__radio-text {
  font-weight: 700;
  opacity: 1;
}
