.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  width: 100%;
  box-sizing: border-box;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
}

.header__add-clothes-button {
  margin: 0 20px 0 auto;
  border: none;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
}

.header__menu-button {
  display: none;
}

.header__menu-line {
  width: 20px;
  height: 2px;
  background-color: black;
  border-radius: 2px;
}

@media screen and (max-width: 627px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 44px;
    row-gap: 8px;
    padding: 16px 0 0;
    width: 100%;
  }

  .header__logo {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
  }

  .header__date-and-location {
    grid-column: 1 / -1;
    grid-row: 2;
    margin: 0;
  }

  .header__add-clothes-button,
  .header__user-container {
    display: none;
  }

  .header__menu-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;

    width: 44px;
    height: 44px;

    background-color: #fff;
    border: none;
    border-radius: 8px;
  }
}
